<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 配置支持注解方式的Handler -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>


	<!-- 配置异常处理 -->
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView">  
            <value>error/error</value>
        </property>   
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.http.converter.HttpMessageNotReadableException">/error/400</prop>
				<prop key="org.springframework.web.bind.MissingServletRequestParameterException">/error/400</prop>
				<prop key="org.springframework.beans.TypeMismatchException">/error/400</prop>
				<prop key="org.springframework.web.servlet.mvc.multiaction.NoSuchRequestHandlingMethodException">/error/404</prop>
				<prop key="org.springframework.http.converter.HttpMessageNotWritableException">/error/500</prop>
				<prop key="org.springframework.beans.ConversionNotSupportedException">/error/500</prop>
			</props>
		</property>
	</bean>

	
	<!-- 自动扫描组件 -->
	<context:component-scan base-package="#{base_package}.modules.*.web.controller"/>
	<context:component-scan base-package="#{base_package}.web.controller" />
</beans>
